@import url('https://fonts.googleapis.com/css2?family=Antonio&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Antonio', sans-serif;
}

#time {
    font-size: 10vw;
    color: white;
    padding: 5%;
}

.weatherImg{
    background-image:linear-gradient(to bottom, rgba(255,255,255,0) 50%, rgb(255, 255, 255)), url("img/clear_sky.jpg");
    height: 50vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
}

main{
    display: flex;
    flex-wrap: wrap;
    height: 49.4vh;
}

.box {
    display: flex;
    flex: 1;
    min-width: 40%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4px;
    padding: 20px;
    font-size: 16px;
    letter-spacing: 4px;
    color: rgb(165, 165, 165);
}


.box h2 {
    font-size: 16px;
    position: relative;
    width: 100%;
    text-align: center;

}


.line {
    width: 75%;
    text-align: center;
    border-top: 2px solid rgba(0, 0, 0, 0.082);
}

.tempContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.tempContainer .unit {
    position: relative;
    font-size: 10px;
    top: -2px;
}

.location {
    display: flex;
}